body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    color: blue;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}
.evenrow {
    background-color: lightgray;
}
table, th, td {
    border: 1px solid black;
}
